= turbo_stream.append(infinite_dom_id)
  = content

= turbo_stream.replace(infinite_loader_dom_id)
  = render(TurboScroll::Loader.new(page: page, infinite_loader_dom_id: infinite_loader_dom_id, loading_indicator: loading_indicator, load_on_scroll: load_on_scroll))
